<a href="https://colab.research.google.com/github/shemi024/STATI/blob/main/MLwien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/winequality-red_(1).csv')

In [ ]:
data.shape

(1599, 12)

In [ ]:
data.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [ ]:
data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
x=data.drop(['quality'],axis=1)
y=data['quality']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y, random_state=42, test_size=0.2)

In [ ]:
x_train.shape

(1279, 11)

In [ ]:
from sklearn.linear_model import LinearRegression
logis_model = LinearRegression()
model=logis_model.fit(x_train, y_train)
y_pred = model.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test, y_pred)
r2_score(y_test, y_pred)

0.4031803412796231

In [ ]:
#KNN
from sklearn import neighbors
from sklearn.metrics import mean_squared_error 
from math import sqrt

model = neighbors.KNeighborsRegressor(n_neighbors = 5)
model.fit(x_train, y_train)  #fit the model    
predicted = model.predict(x_test)
error = mean_squared_error(y_test,predicted)
print(error)

0.5319999999999999